services:
  cvs:
    build: ./cvs
    container_name: cvs
    restart: always
    hostname: cvs

    ports:
      - "2401:2401"

    volumes:
      - ./cvsroot:/cvsroot

  report-ui:
      build: ./report-ui
      container_name: migration-reports-ui
      environment:
        REPORT-UI_STORAGE-DIR: /app/data/reports
      ports:
        - "8090:8090"
      volumes:
        - ./report-ui/reports:/app/data/reports
      restart: unless-stopped
      
  artifactory:
      image: releases-docker.jfrog.io/jfrog/artifactory-oss:7.77.5
      container_name: artifactory
      ports:
        - "8082:8082"
      environment:
        - ARTIFACTORY_HOME=/var/opt/jfrog/artifactory
        - JF_ROUTER_ENABLED=true
        - JF_FRONTEND_ENABLED=true
      volumes:
        - artifactory_data:/var/opt/jfrog/artifactory


  jenkins:
    build: ./jenkins
    container_name: jenkins
    restart: always
    user: root
    group_add:
      - docker

    ports:
      - "8081:8080"
      - "50000:50000"

    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jar:/opt/tools

    environment:
      JAVA_OPTS: >
        -Djenkins.install.runSetupWizard=false
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    hostname: gitlab
    ports:
      - "8083:8083"
      - "2222:22"
    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://localhost:8083'
        gitlab_rails['gitlab_shell_ssh_port'] = 2222
    shm_size: '256m'
    restart: unless-stopped

volumes:
  artifactory_data:
  filebrowser_db:
  gitlab_config:
  gitlab_logs:
  gitlab_data:
