services:
  cvs:
    build: ./cvs
    container_name: cvs
    restart: always
    hostname: cvs

    ports:
      - "2401:2401"

    volumes:
      - ./cvsroot:/cvsroot
  
  reports:
      build: ./apache
      container_name: migration-reports
      ports:
        - "8085:80"
      volumes:
        - ./data/reports:/var/www/reports
      restart: unless-stopped

  filebrowser:
      image: filebrowser/filebrowser:latest
      container_name: filebrowser
      ports:
        - "8086:80"
      volumes:
        - ./data/reports:/srv
        - filebrowser_db:/database
        - ./filebrowser/settings.json:/config/settings.json
      restart: unless-stopped
      
  artifactory:
      image: releases-docker.jfrog.io/jfrog/artifactory-oss:7.77.5
      container_name: artifactory
      ports:
        - "8082:8082"
      environment:
        - ARTIFACTORY_HOME=/var/opt/jfrog/artifactory
        - JF_ROUTER_ENABLED=true
        - JF_FRONTEND_ENABLED=true
      volumes:
        - artifactory_data:/var/opt/jfrog/artifactory


  jenkins:
    image: jenkins/jenkins:lts-jdk21
    container_name: jenkins
    restart: always
    user: root

    ports:
      - "8081:8080"
      - "50000:50000"

    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      # - ./tools/ant2maven.jar:/opt/tools/ant2maven.jar

    environment:
      JAVA_OPTS: >
        -Djenkins.install.runSetupWizard=false
volumes:
  artifactory_data:
  filebrowser_db:
